---
    import PagesLayout from "@/layout/PagesLayout.astro";
    import { DATA_EN } from "@/service/data";
    const lang = DATA_EN
---

<PagesLayout title="Amalgam restoration" description="Efficient Amalgam Restoration Techniques | Expert Insights on Dental Restoration Procedures">
    <div class={ 'mx-auto'}>
            <div class="h-48"></div>
            <div class=" bg-orange-500"><h3 class=" bg-white ml-3 pl-4 text-2xl">{lang.arTitle}</h3></div>
            
            <h4 class="my-6 text-xl font-semibold">{lang.arTitle1}</h4>
            <p class="mb-6 mt-6 text-gray-800">{lang.arBio}</p>
        </div>
</PagesLayout>