---
import PagesLayout from "@/layout/PagesLayout.astro";
import { DATA_EN } from "@/service/data";
const lang = DATA_EN;
---

<PagesLayout title="Testing of Materials and Medications" description="Comprehensive Testing of Materials and Medications | Ensuring Safety and Efficacy">
  <div class={"mx-auto"}>
    <div class=" h-48"></div>
    <div class=" bg-orange-500">
      <h3 class=" bg-white ml-3 pl-4 text-2xl">{lang.hdTitle6}</h3>
    </div>
    <img class=" float-right mb-3 ml-3" src={""} alt="" />
    <p class="mb-6 mt-6 text-gray-800">{lang.mmBio}</p>
  </div>
</PagesLayout>
