---
import PagesLayout from "@/layout/PagesLayout.astro";
import { DATA_DEU } from "@/service/data";
import am from "../../img/am.png"
const lang = DATA_DEU;
---

<PagesLayout
  title="Amalgamsanierung"
  description="Effiziente Amalgam-Restaurierungstechniken | Experteneinblicke zu Zahnrestaurationsverfahren"
>
  <div class={"mx-auto"}>
    <div class="h-48"></div>
    <div class="bg-orange-500">
      <h3 class="bg-white ml-3 pl-4 text-2xl">{lang.arTitle}</h3>
    </div>

    <img class="rounded-lg float-right mb-3 ml-3" src={am} alt="" />
    <h4 class="my-6 text-xl font-semibold">{lang.arTitle1}</h4>
    <p class="mb-6 mt-6 text-gray-800">{lang.arBio}</p>
  </div>
</PagesLayout>
