---
import PagesLayout from "@/layout/PagesLayout.astro";
import DentalFearList from "@/components/DentalFearList";
import { DATA_DEU } from "@/service/data";
import fear from "../../img/fear.jpg";
const lang = DATA_DEU;
---

<PagesLayout title="Zahnarztangst">
  <div class={"mx-auto"}>
    <div class="h-48"></div>

    <div
      class="bg-orange-500 p-2 text-white font-semibold w-full mb-20 text-2xl"
    >

      <h2>{lang.dfTitle}</h2>
    </div>

    <img class="float-right mb-3 ml-3 rounded-lg" src={fear} alt="" />
    <h4 class="mb-6 mt-6 text-xl font-semibold">{lang.dfTitle1}</h4>

    <p class="mb-6 mt-6 text-gray-800">{lang.dfBio1}</p>
    <DentalFearList />
  </div>
</PagesLayout>
