---
import Dimages from "@/components/Dimages";
import PagesLayout from "@/layout/PagesLayout.astro";
---

<PagesLayout title="Diplomas">
  <div class="w-full flex justify-center">
    <div class="block">
      <Dimages />
    </div>
  </div>
</PagesLayout>
